/* Images gallery grid */

.gallery-item a {
	display:block;
}
.gallery-item a, .gallery-caption {
	width:90%;
}
.gallery .gallery-icon img {
	height:auto;
	max-width:90%;
	padding:5% !important;
}

/* Video Player */

.wppsn-video-player {
	background-color:#f1f1f1;
}
.wppsn-video-player .fp-embed,
.wppsn-video-playlist-player .fp-embed {
	display:none !important;
}

/* Video Playlist Player */

.wppsn-video-playlist-player .fp-playlist {
	position:absolute;
	left:0;
	right:0;
	background-color:#fff;
	border-bottom:2px solid #dfdfdf;
}
.wppsn-video-playlist-player .fp-playlist a {
	display:block;
	padding:3px 10px;
	border-top:1px solid #dfdfdf;
}
.wppsn-video-playlist-player .fp-playlist a:hover {
	background-color:#f1f1f1;
}

/* Flexsliders */

.wppsn-slider {
	margin-bottom:10px !important;
}
.wppsn-slider .slides {
	margin-bottom:0 !important;
}
.wppsn-slider .slides > li {
	margin:0;
}
.wppsn-slider .slides img {
	max-width:100%;
}

.wppsn-carrousel ul {
	margin-bottom:0 !important;
}
.wppsn-carrousel .slides > li {
	margin:5px;
}
.wppsn-carrousel img {
	display:block;
	cursor:pointer;
	opacity:0.5;
}
.flex-active-slide img,
.wppsn-carrousel img:hover {
	opacity:1;
}

.flex-direction-nav {
	margin:0 !important;
	list-style:none !important;
}
.wppsn-slider .flex-direction-nav .flex-disabled,
.wppsn-carrousel .flex-direction-nav .flex-disabled {
	opacity:0 !important;
}
.flexslider .flex-direction-nav a {
	margin-top:-30px;
	height:50px;
	background-image:url(../images/bg_direction_nav.png);
}
.flex-caption {
	margin:0.5em 0 !important;
}