#For dev purpose COMPOSE_FILE=docker-compose.override.yml:docker-compose.db.yml
COMPOSE_FILE=docker-compose.yml:docker-compose.db.yml

#Network
PHRASEANET_SUBNET_IPS=172.32.0.0/16
PHRASEANET_APP_PORT=8080

# mysql settings

MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=worpdress

# worpdress settings

SITE_TITLE=Phraseanet for worpdress
WP_UPDATE=never #auto -> auto update if available and #never -> don't update keep the current version
WP_ADMIN_USERNAME=admin
WP_ADMIN_PASSWORD=admin123
WP_ADMIN_EMAIL=admin@admin.com

PHRASEANET_PLUGIN_INSTALL=one # (one) plugin is install only at first launch and (always) plugin is install at each entrypoint execution.

# phraseanet settings

PHRASEANET_BO_URL=
PHRASEANET_BO_TOKEN=
PHRASEANET_BO_CLIENT_ID=
PHRASEANET_BO_SECRET=